.table {
  width: 60%;
  height: 50%;
  background: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .table {
    width: 100%;
    min-height: 100%;
    flex-direction: column;
  }
}